<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-cars></app-cars>
      <app-cars></app-cars>
      <hr>
      <p>{{ carStatus }}</p>
      <!-- <button [disabled]="!canAddCar" (click)="addCar()" class="btn btn-primary">Добавить машину</button> -->
      <hr>
      <button (click)="addCar()" class="btn btn-primary">Добавить авто</button>
      <!-- <input type="text"> -->
      <p *ngIf="addNewCar; else newCar">Автомобиль добавлен</p>
      <ng-template #newCar>
        <p>Автомобиль не добавлен</p>
      </ng-template>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
