<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-cars></app-cars>
      <hr>
      <p>{{ carStatus }}</p>
      <button [disabled]="!canAddCar" (click)="addCar()" class="btn btn-primary">Добавить машину</button>
      <hr>
      <input type="text" class="form-contol" (keyup.enter)="addCar($event);" placeholder="Добавьте автомобиль">
      <p>{{carName}}</p>
      <div *ngFor="let car of cars">{{car.name}}, {{car.age}}</div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
